* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
  color: white;
}

input {
  font-size: 30px;
  color: rgb(25, 0, 255);
  width: 400px;
  height: 50px;
  border-radius: 10%;
  border: 5px solid rgb(0, 38, 255);

  background-color: rgb(181, 234, 243);
  font-weight: bolder;
}

.container img {
  width: 100%;
  height: 700px;
  background: linear-gradient(90deg, #093028 0%, #237a57 100%);
}

.box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#resultBox {
  max-height: 200px;
  height: fit-content;
  width: 410px;
  border-top: none;
  overflow: auto;
  scroll-behavior: smooth;
}

::placeholder {
  color: rgb(0, 60, 255);
}

#resultBox p {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  color: yellow;
  border-radius: 10px;
  background-color: rgb(71, 71, 71);
}
