* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
  background-size: 100% 100%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  height: 520px;
  box-shadow: 0 0 10px 1px grey;
}

#app_name {
  width: inherit;
  font-size: 0.8rem;
  padding: 2px 0 2px 10px;
  background-color: #303030;
  color: white;
  border: none;
  outline: none;
  font-family: sans-serif;
}

#display_answer {
  width: inherit;
  height: 100px;
  background-color: #303030;
  font-size: 2rem;
  color: white;
  border: none;
  outline: none;
  text-align: right;
}

.layer1 {
  width: inherit;
  height: 90px;
  display: flex;
  justify-content: center;
}
.layer2 {
  width: inherit;
  height: 40px;
  display: flex;
  justify-content: center;
}
input {
  flex: 1;
  font-size: 1.4rem;
  color: white;
  border: 1px solid #504f4f;
  outline: none;
}

.main_num {
  background-color: #101011;
  color: white;
}
.operator {
  background-color: #303030;
}
#clearbutton {
  font-size: 1rem;
  text-transform: uppercase;
}

input:hover {
  background-color: #474747;
  border: 1px solid grey;
}
