* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  /* background:linear-gradient(90deg, #00d2ff 0%,#3a7bd5 100% ); */

  background-image: url("background.png");
  background-size: 100% 100%;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calender {
  width: 45rem;
  height: 52rem;
  background: linear-gradient(90deg, #16a085 0%, #11d167 100%);
  opacity: 0.8;
  box-shadow: 0 0.5 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1.2rem;
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}
.month h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;
}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  width: calc(44.2rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.5rem;
  margin: 0.3rem;
  width: calc(40.2rem / 7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.days div:hover:not(.today) {
  background: linear-gradient(90deg, #da22ff 0%, #9733ee 100%);
  border: 0.2rem solid #777;
  cursor: pointer;
  border-radius: 0.5rem;
}

.next-date,
.prevs-date {
  opacity: 0.5;
}

.today {
  background: linear-gradient(90deg, #e65c00 0%, #f9d423 100%);
  border-radius: 0.5rem;
}
