*,
*::before,
::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica;
}

body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.youtube-logo {
  height: 70px;
  width: 10rem;
  margin: 0 0 0 2.5rem;
}

.search-box {
  flex-grow: 1;
  display: flex;
  margin: 0 0 0 15rem;
  flex-direction: row;
  height: 35px;
  width: 10rem;
}

.search-videos {
  width: 75%;
  font-size: inherit;
  padding: 0.4em;
  border: 1px solid rgb(211, 85, 85);
  font-weight: lighter;
}

.search-btn {
  width: 10%;
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.search-btn:hover {
  cursor: pointer;
  width: 10%;
}

#videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
  padding: 3rem 0;
  margin: 0 20rem;
  border-top: 4px solid white;
}
.icon {
  display: flex;
  flex-direction: row;
  margin: 0 3% 0 10%;
}

.icon a {
  margin-left: 15px;
}

.icon a img {
  height: 3rem;
  width: 3rem;
}

.icon a:hover {
  cursor: pointer;
}
